<nav class="navbar">
  <div class="nav-container">
    <h2 class="nav-logo"><a href="index.html">NF</a></h2>
    <button class="nav-toggle" aria-label="toggle menu">☰</button>
    <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="pages/about.html">About</a></li>
      <li><a href="pages/projects.html">Projects</a></li>
      <li><a href="pages/contact.html">Contact</a></li>
      <li><a href="https://github.com/nfacciola" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/nicholas-facciola-a27355205/" target="_blank">LinkedIn</a></li>
      <li><a href="https://youtube.com/@nicholas-facciola" target="_blank">YouTube</a></li>
    </ul>
  </div>
</nav>
